* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #f7f7f7;
}

#hero {
  background: #00d4a1;
  background: -moz-linear-gradient(top, #00d4a1 0%, #6a09af 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00d4a1), color-stop(100%,#6a09af));
  background: -webkit-linear-gradient(top, #00d4a1 0%,#6a09af 100%);
  background: -o-linear-gradient(top, #00d4a1 0%,#6a09af 100%);
  background: -ms-linear-gradient(top, #00d4a1 0%,#6a09af 100%);
  background: linear-gradient(to bottom, #00d4a1 0%,#6a09af 100%);
  height: 100%;
  display: inline-block;
  height: 100%;
  height: calc(100% - 5px);
  width: 100%;
  position: relative;
}

.hero-content {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  max-width: 250px;
  text-align: center;
  width: 100%;
}

img#hero-logo {
  width: 100%;
  margin-bottom: 60px;
}

#hero a {
	text-decoration: none;
	color: #fff;
}

#hero button {
  font-size: 12px;
  background: rgba(0,0,0,0);
  outline: none !important;
  border-radius: 0;
  padding: 12px 15px;
  position: relative;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  clear: both;
  margin: 0px auto;
  border: 2px solid #fff;
  color: #fff;
}

.left-padder, .right-padder {
    width: 10px;
    height: 100%;
    position: absolute;
    background: rgb(250, 250, 250);
    z-index: 99;
}

.right-padder {
    right: 0;
}

.top-padder {
    width: 100%;
    height: 10px;
    position: absolute;
    z-index: 999;
    background: #f7f7f7;
}

.bottom-angle-left, .bottom-angle-right {
    font-size: 0px;
    line-height: 0%;
    width: 50%;
    border-bottom: 10px solid #f7f7f7;
    border-right: 10px solid rgba(0,0,0,0);
    position: absolute;
    z-index: 99999;
    bottom: 0;
    left: 0;
    z-index: 999999;
}

.bottom-angle-right {
    left: 50%;
    border-right: 0;
    border-left: 10px solid rgba(0,0,0,0);
}

.container {
  padding: 30px;
  margin: 0 auto;
  max-width: 800px;
}

h1 {
  color: #08bf8b;
}

p {
  font-size: 17px;
  line-height: 1.5;
  color: rgba(0,0,0,0.7);
}

p span {
  font-weight: bold;
  color: #4259a8;
}

.container.narrow {
  max-width: 525px;
}

.narrow-it-down {
  max-width: 450px;
  margin: 90px auto;
  margin-bottom: 60px;
}

.quarter {
  width: 25%;
  display: inline-block;
  float: left;
  text-align: center;
}

img#drive-sc {
  margin: 0px auto;
  display: block;
  width: 250px;
}

.clearfix {
  display: block;
  clear: both;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
}

footer {
  padding: 40px 30px;
  text-align: center;
  background: #2A3C77;
  margin-top: 90px;
}

footer p {
  color: rgba(255,255,255,0.8);
  font-size: 13px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #fff;
}
