/*-------------------------------------------------------

    Scrollbars

-------------------------------------------------------*/

  #draggable::-webkit-scrollbar {
      height: 0px;
      padding: 20px;
      background: rgba(0,0,0,0);
  }

  #draggable::-webkit-scrollbar-track {

  }

  #draggable::-webkit-scrollbar-thumb {
      background: rgba(0,0,0,0.01);
  }

  #draggable::-webkit-scrollbar-thumb:hover {
      background: #cb9ac7;
  }

  .list-container::-webkit-scrollbar {
      width: 5px;
      background: rgba(0,0,0,0);
  }

  .list-container::-webkit-scrollbar-thumb {
      background: #06D6A0;
  }

/*-------------------------------------------------------

    Structure

-------------------------------------------------------*/

p {
  font: 15px;
  font-weight: normal;
}

/*-------------------------------------------------------

    Structure

-------------------------------------------------------*/


.brand-color {
  background: #06D6A0;
}

img[src="null"] {
    display: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

.parent-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#scroll-container {
  position: absolute;
  width: 300%;
  height: 100%;
  left: 0;
  transition:         all 250ms ease;
  -webkit-transition: all 250ms ease;
  -moz-transition:    all 250ms ease;
}

#scroll-container.people {
  left: 0;
}

#scroll-container.songs {
  left: -100%;
}

#scroll-container.player {
  left: -200%;
}


.three-column {
  width: 33.333%;
  float: left;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

#people-container, #playlist-container {
  background: #f7f7f7;
}

.list-container {
  top: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 50px;
  padding-bottom: 75px;
  height: calc(100% - 50px);
  box-sizing: border-box;
}

#search-results-container {
  position: absolute;
  top: 0;
  background: #fff;
  left: 0;
  width: 100%;
  display: none;
}

#search-results-container.visible {
  display: inline-block;
}

  #search-results {
    padding: 0;
    margin: 0;
  }

  #search-results li, .collaborator {
    list-style: none;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    position: relative;
    min-height: 45px;
    cursor: pointer;
  }

  #search-results li {
    background: url('../images/icons/add.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    padding-right: 50px;
  }

  #search-results li:active {
    background: #d9e7ff;
  }

  .collaborator img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  #search-results li img {
    width: 45px;
    height: 45px;
    float: left;
    background: #e8e8e8;
  }

  .track-info {
    margin-left: 60px;
  }

    .track-info h1 {
      font-size: 14px;
      opacity: 0.5;
      margin: 4px 0;
      font-weight: normal;
    }

    .track-info h2, .collaborator h1 {
      font-size: 16px;
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: normal;
    }

    .collaborator h1 {
      position: absolute;
      margin-left: 65px;
      margin: 15px 0px 15px 65px;
    }

    #search-results p {
      display: none;
    }

#fab {
  z-index: 50;
}

.fab-btn:before, .fab-btn:after {
  background: no-repeat 50% 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
  content: "";
  height: 56px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -moz-transition:  all .28s cubic-bezier(.4,0,.2,1);
  -webkit-transition: all .28s cubic-bezier(.4,0,.2,1);
  transition:     all .28s cubic-bezier(.4,0,.2,1);
  width: 56px;
}

.fab-btn {
  display: inline-block;
  position: absolute;
  outline: none;
  -webkit-user-select:  none;
  user-select:      none;
  cursor: pointer;
  z-index: 0;
  box-sizing: border-box;
  width: 56px;
  height: 56px;
  background: #06D6A0;
  color: #fff;
  border-radius: 50%;
  padding: 16px;
  bottom: 25px;
  left: 50%;
  transform:      translateX(-50%);
  -webkit-transform:  translateX(-50%);
  -moz-transform:   translateX(-50%);
  -moz-transition:  all .28s cubic-bezier(.4,0,.2,1);
  -webkit-transition: all .28s cubic-bezier(.4,0,.2,1);
  transition:     all .28s cubic-bezier(.4,0,.2,1);
}

#fab.player {
  margin-bottom: -200px;
}

/*-------------------------------------------------------

    NAV

-------------------------------------------------------*/

nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: white;
  transition:     all 250ms ease;
  -webkit-transition: all 250ms ease;
  -moz-transition:  all 250ms ease;
}

  nav ul {
    padding: 0;
    margin: 0;
    height: 50px;
    border-bottom: 2px solid rgba(0,0,0,0.08);
  }

    nav ul li {
      width: 33.333%;
      display: inline-block;
      float: left;
      text-align: center;
      padding: 18px;
      padding-bottom: 10px;
      cursor: pointer;
      font-size: 15px;
      opacity: 0.5;
      box-sizing:         border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing:    border-box;
      transition:         all 250ms ease;
      -webkit-transition: all 250ms ease;
      -moz-transition:    all 250ms ease;
    }

    nav.people ul li:first-child, nav.songs ul li:nth-child(2), nav.player ul li:nth-child(3){
      color: #0CBF8C;
      opacity: 1;
      font-weight: bold;
    }

nav.player {
  background: rgba(255,255,255,0);
  border: none;
}

nav.player ul {
  border-bottom: 2px solid rgba(0,0,0,0);
}

nav.player ul li {
  color: #fff !important;
}

#underline {
  width: 33.333%;
  height: 2px;
  background: #06D6A0;
  margin-top: -2px;
  position: absolute;
  transition:     all 250ms ease;
  -webkit-transition: all 250ms ease;
  -moz-transition:  all 250ms ease;
}

nav.people #underline {
  left: 0;
}

nav.songs #underline {
  left: 33.333%;
}

nav.player #underline {
  background: #fff;
  left: 66.666%;
  opacity: 0.2;
}

nav.songs #inviteBtn {
  display: none;
}

nav.people #songSearch {
  display: none;
}

#songSearch {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 60px;
  background-color: #fff;
  transition:         all 250ms ease;
  -webkit-transition: all 250ms ease;
  -moz-transition:    all 250ms ease;
}

#songSearch.open {
  width: 100%;
  border-bottom: 2px solid #DFDFDF;
}

#addSongBtn {
  width: 60px;
  height: 50px;
  background: url('../images/icons/add-song.svg');
  background-position: center;
  display: inline-block;
  background-size: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
  float: left;
}

#inviteBtn {
  width: 60px;
  height: 50px;
  background: url('../images/icons/invite.svg');
  background-position: center;
  display: inline-block;
  background-size: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

#songSearch.open #addSongBtn {
  background: url('../images/icons/back.svg');
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
}

#clearSearchBtn {
  width: 60px;
  height: 50px;
  background: url('../images/icons/clear-search.svg');
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
  position: fixed;
  pointer-events:none;
  right: 0;
  top: 0;
  opacity: 0;
  transition:         all 200ms ease;
  -webkit-transition: all 200ms ease;
  -moz-transition:    all 200ms ease;
}

#songSearch.open #clearSearchBtn{
  display: inline-block;
  opacity: 1;
  pointer-events:all;
}

input.unstyled, textarea.unstyled {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  resize: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  background: rgba(0,0,0,0);
  color: black;
}

input#search-field {
  height: 46px;
  width: 80%;
  width: calc(100% - 75px);
  border-bottom: 2px solid #06D6A0;
  outline: 0;
  font-size: 15px;
  margin-top: 4px;
  display: inline-block;
  left: 0;
  float: left;
}

/*-------------------------------------------------------

    PLAYER

-------------------------------------------------------*/

#player-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 20;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
}

#player-container.minimized {
  top: calc(100% - 60px);
  cursor: pointer;
}

#bg-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #333;
  pointer-events:none;
  background-color: rgba(0,0,0,0.2);
/*  background-image: url('../images/absurdity.png');*/
}

#player-container.minimized #bg-overlay {
  pointer-events: all;
}

.top-stripe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  z-index: 10;
}

.sc-info {
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  width: 100%;
  width: calc(100% - 120px);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  height: 50px;
  overflow: hidden;
  pointer-events: none;
  color: white;
  transition:           top 500ms ease;
  -webkit-transition:   top 500ms ease;
  -moz-transition:      top 500ms ease;
}

#player-container.minimized .sc-info {
  top: 0px;
}

  .sc-info a {
    text-decoration: none;
    color: white;
  }

  .sc-info h4 {
    font-size: 12px;
    opacity: 0.7;
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    color: rgba(0,0,0,0);
    margin-left: -10px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition:           top 200ms ease;
    -webkit-transition:   top 200ms ease;
    -moz-transition:      top 200ms ease;
  }

  #player-container.minimized .sc-info h4 {
    margin-top: -40px;
  }

  .sc-info h3 {
    position: absolute;
    top: 20px;
    margin: 0;
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sc-info p {
    display: none;
  }

  .sc-info-close {
    display: none;
  }

ol.sc-artwork-list {
  padding: 0;
  margin: 0;
}

ol.sc-trackslist {
  display: none;
}

ol.sc-artwork-list li {
  list-style: none;
  display: none;
}

ol.sc-artwork-list li.active {
  display: inline-block;
}


a.sc-info-toggle {
  display: none;
}

.sc-scrubber {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 5px;
  left: 0;
}

#player-container.minimized .sc-scrubber {
  height: 2px;
}

#player-container.minimized .sc-time-indicators {
  display: none;
}

.sc-time-span {
  height: 100%;
}

.sc-waveform-container {
  height: 100%;
}

.saturate {-webkit-filter: saturate(3);}
.grayscale {-webkit-filter: grayscale(100%);}
.contrast {-webkit-filter: contrast(160%);}
.brightness {-webkit-filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px);}
.invert {-webkit-filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);}
.rss.opacity {-webkit-filter: opacity(50%);}

.sc-played, .sc-buffer {
  height: 100%;
  top: 0;
  position: absolute;
}

.sc-played {
  background: #06D6A0;
  opacity: 0.8;
}

.sc-buffer {
  background: rgba(0,0,0,0.2);
}

.sc-waveform-container {
  opacity: 0;
}

span.sc-position {
  position: absolute;
  left: 30px;
  bottom: 30px;
}

span.sc-duration {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.sc-player.uninitialized {
  background: #00d4a1; /* Old browsers */
  background: -moz-linear-gradient(top, #00d4a1 0%, #6a09af 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00d4a1), color-stop(100%,#6a09af)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00d4a1 0%,#6a09af 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00d4a1 0%,#6a09af 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00d4a1 0%,#6a09af 100%); /* IE10+ */
  background: linear-gradient(to bottom, #00d4a1 0%,#6a09af 100%); /* W3C */
  height: 100%;
}


.sc-player li.active {
  padding: 0 20px;
  position: absolute;
  height: 50%;
  height: calc(100% - 280px);
  left: 0;
  width: 100%;
  box-sizing: border-box;
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
}

.sc-player li:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.sc-player li.active img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  height: 100%;
  transition:           all 500ms ease;
  -webkit-transition:   all 500ms ease;
  -moz-transition:      all 500ms ease;
}

  .sc-player li.active img.bgwidth { 
    width: 100%;
    height: auto; 
  }
  .sc-player li.active img.bgheight { 
    height: 100%; 
    width: auto;
  }

#hip-box, #hip-box-hidden {
  position: absolute;
  top: 0;
  max-width: 200px;
  min-width: 112px;
  width: 40%;
  height: 80%;
  margin-top: 100px;
  margin-bottom: 120px;
  height: calc(100% - 180px);
  left: 50%;
  transform:      translateX(-50%) translateY(-0%);
  -webkit-transform:  translateX(-50%) translateY(-0%);
  -moz-transform:   translateX(-50%) translateY(-0%);
  border: 2px solid rgba(255,255,255,0.6);
  text-align: center;
  z-index: 1;
  pointer-events: none;
  transition:           all 500ms ease;
  -webkit-transition:   all 500ms ease;
  -moz-transition:      all 500ms ease;
  overflow: hidden;
  background: url('../images/icons/play.svg');
  background-size: 0px;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}

#hip-box-hidden {
  opacity: 0;
}

#hip-box.stopped {
  /*border-radius: 50%;*/
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: 150px;
  width: 150px;
  margin: 0;
  border: 2px solid rgba(255,255,255,1);
  pointer-events: all;
  z-index: 9999999;
  background: url('../images/icons/play-big.svg');
  background-size: 80px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.score-lable {
  display: inline-block;
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  color: #fff;
  text-transform: uppercase;
  transition:           all 500ms ease;
  -webkit-transition:   all 500ms ease;
  -moz-transition:      all 500ms ease;
}

.score-lable.bottom {
  padding: 12px;
  box-sizing: border-box;
  letter-spacing: 5px;
  font-size: 18px;
  bottom: 0;
}

.score-lable.top {
  top: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 12px;
  letter-spacing: 5px;
}

#hip-box.stopped .score-lable.top {
  margin-top: -60px;
}

#hip-box.stopped .score-lable.bottom {
  margin-bottom: -60px;
}

.sc-controls {
  position: absolute;
  top: 0px;
  right: 0;
  margin: 25px;
  height: 30px;
  width: 30px;
  transition:           all 500ms ease;
  -webkit-transition:   all 500ms ease;
  -moz-transition:      all 500ms ease;
}

.sc-controls a.sc-play {
  display: inline-block;
  height: 30px;
  width: 30px;
  background: white;
  background: url('../images/icons/play.svg');
  background-size: 25px;
  background-position: center;
  color: rgba(0,0,0,0);
  background-repeat: no-repeat;
}

#player-container.minimized .sc-controls {
  margin: 15px;
}

.sc-player.playing .sc-controls a.sc-play {
  background: url('../images/icons/pause.svg');
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.sc-controls a.sc-pause {
  display: none;
}

.sc-time-indicators {
  color: #fff;
  opacity: 0.6;
}

.scroll-hack {
  height: 120%;
  display: inline-block;
  position: absolute;
  width: 100%;
  pointer-events: none;
  opacity: 0;
}

.number-container {
  margin-top: 150px;
  margin-bottom: 150px;
  height: calc(100% - 280px);
  position: absolute;
  overflow: hidden;
  width: 100%;
  left: 0;
  -moz-transition:  left 500ms cubic-bezier(.4,0,.2,1);
  -webkit-transition: left 500ms cubic-bezier(.4,0,.2,1);
  transition:     left 500ms cubic-bezier(.4,0,.2,1);
}

.number-container.offscreen {
  left: 100%;
}

#draggable {
  height: 100%;
  box-sizing: border-box;
  cursor: grab;
    cursor: -webkit-grab;
    display: inline-block;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

#draggable:active {
  cursor: grabbing;
    cursor: -webkit-grabbing;
}

.number-container ol {
  padding: 0;
  margin: 0;
  height: 100%;
  white-space: nowrap;
    /*display: inline-block;*/
  transition:           all 250ms ease;
  -webkit-transition:   all 250ms ease;
  -moz-transition:      all 250ms ease;
}

.number-container li {
  list-style: none;
  display: inline-block;
  height: 100%;
  max-width: 200px;
  min-width: 112px;
  width: 40%;
  padding: 0 15px;
  opacity: 0.4;
}

.number-container li.my-score {
  opacity: 1;
}

#numbers li span {
  height: 100%;
  width: 100%;
  display: inline-block;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transition:           all 150ms ease;
  -webkit-transition:   all 150ms ease;
  -moz-transition:      all 150ms ease;
}

#numbers.active li span {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transition:           all 250ms ease;
  -webkit-transition:   all 250ms ease;
  -moz-transition:      all 250ms ease;
}

#numbers li.my-score span {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
}

#numbers.active li.my-score span {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

.number-container li:nth-child(2) span { background: url('../images/numbers/1.png'); }
.number-container li:nth-child(3) span { background: url('../images/numbers/2.png'); }
.number-container li:nth-child(4) span { background: url('../images/numbers/3.png'); }
.number-container li:nth-child(5) span { background: url('../images/numbers/4.png'); }
.number-container li:nth-child(6) span { background: url('../images/numbers/5.png'); }
.number-container li:nth-child(7) span { background: url('../images/numbers/6.png'); }
.number-container li:nth-child(8) span { background: url('../images/numbers/7.png'); }
.number-container li:nth-child(9) span { background: url('../images/numbers/8.png'); }
.number-container li:nth-child(10) span { background: url('../images/numbers/9.png'); }
.number-container li:nth-child(11) span { background: url('../images/numbers/10.png'); }

.number-container li:nth-child(2) span, .number-container li:nth-child(3) span, 
.number-container li:nth-child(4) span, .number-container li:nth-child(5) span,  
.number-container li:nth-child(6) span, .number-container li:nth-child(7) span, 
.number-container li:nth-child(8) span, .number-container li:nth-child(9) span, 
.number-container li:nth-child(10) span, .number-container li:nth-child(11) span {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.number-container li:first-child, .number-container li:last-child {
  display: inline-block;
  opacity: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 0px;
  max-width: 200%;
  clear: both;
  transition:           all 800ms ease;
  -webkit-transition:   all 800ms ease;
  -moz-transition:      all 800ms ease;
}

#sound-icon, #minimize-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  padding: 25px;
  cursor: pointer;
  transition:           all 500ms ease;
  -webkit-transition:   all 500ms ease;
  -moz-transition:      all 500ms ease;
}

#player-container.minimized #minimize-icon {
  padding: 15px;
}

#minimize-icon {
  left: 0;
  top: 0;
}

#minimize-icon span {
  background: url('../images/icons/minimize.svg');
  background-position: center;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: 25px;
  background-repeat: no-repeat;
}

#sound-icon span {
  background: url('../images/icons/sound-on.svg');
  background-position: center;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: 25px;
  background-repeat: no-repeat;
}

/*===== Buttons =====*/


button#shareButton, .got-it-button {
  font-size: 12px;
  background: rgba(0,0,0,0);
  outline: none !important;
  border-radius: 0;
  padding: 12px 15px;
  position: relative;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  clear: both;
  margin: 0px auto;
  border: 2px solid #06d6a0;
  color: #08bf8b;
}

button#shareButton {
  background-image: url('../images/icons/drive.svg');
  background-repeat: no-repeat;
  background-position: 15px center;
  padding: 15px 20px 15px 60px;
}

.button:disabled, .button[disabled=disabled], .disabled  .button, .button.disabled, .button.disabled:hover, .button.disabled:active {
    background: #FFF;
    color: #b8b8b8;
    border: 1px solid #f3f3f3;
    border: 1px solid rgba(0,0,0,0.05);
    cursor: default;
    pointer-events: none;
    display: none;
}

.button-submit:disabled, .button-submit[disabled=disabled], .button-submit.disabled, .button-submit.disabled:hover, .button-submit.disabled:active {
    border: 1px solid #3079ed;
    background-color: #4d90fe;
    color: #FFF;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    display: none;
}

.button-submit {
    border: 1px solid #3079ed;
    color: #FFF;
    background-color: #4d90fe;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');
    visibility: visible;
}
.button-submit:hover {
    border: 1px solid #2f5bb7;
    color: #FFF;
    background-color: #357ae8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
    background-image: linear-gradient(top,#4d90fe,#357ae8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#357ae8');
}
.button-submit:active, .button-submit:focus:active, .button-submit.focus:active {
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 
    inset 0px 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}

#collaborators-container, .narrow-container {
  max-width: 650px;
  margin: 0 auto;
}

button#confirm-score {
  background: #fff;
  outline: 0;
  border: 0;
  z-index: 123;
  position: absolute;
  bottom: 0px;
  font-size: 15px;
  text-transform: uppercase;
  color: #06d6a0;
  height: 50px;
  font-weight: 600;
  box-shadow: 0px -2px 4px rgba(0,0,0,0.3);
  cursor: pointer;
  left: 50%;
  width: 0px;
  left: 50%;
  padding: 0;
  pointer-events:none;
  box-sizing:         border-box;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  transform:          translateX(-50%);
  -webkit-transform:  translateX(-50%);
  -moz-transform:     translateX(-50%);
  transition:         all 150ms ease;
  -webkit-transition: all 150ms ease;
  -moz-transition:    all 150ms ease;
  border-radius: 50%;
  opacity: 0;
}

button#confirm-score.visible {
  bottom: 0;
  width: 100%;
  pointer-events:all;
  border-radius: 0;
  opacity: 1;
  transition:         all 250ms ease;
  -webkit-transition: all 250ms ease;
  -moz-transition:    all 250ms ease;
}

.onboarding-prompt {
  background: white;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  width: 100%;
  margin: 0;
  display: inline-block;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  background-image: url('../images/icons/point.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 15px;
}

.onboarding-prompt p {
  float: right;
  margin-right: 40px;
  margin-bottom: 30px;
}

.onboarding-prompt p span {
  font-weight: bold;
  color: #08bf8b;
}


/*-------------------------------------------------------

    Invite

-------------------------------------------------------*/

div#dimmer {
  position: fixed;
  z-index: 25;
  background: #f7f7f7;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

div#invite-modal {
  position: fixed;
  z-index: 30;
  background: #fff;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 500px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 15px;
  box-sizing: border-box;
}