/*-------------------------------------------------------

    Scrollbars

-------------------------------------------------------*/

  #draggable::-webkit-scrollbar {
      height: 0px;
      padding: 20px;
      background: rgba(0,0,0,0);
  }

  #draggable::-webkit-scrollbar-track {

  }

  #draggable::-webkit-scrollbar-thumb {
      background: rgba(0,0,0,0.01);
  }

  #draggable::-webkit-scrollbar-thumb:hover {
      background: #cb9ac7;
  }

/*-------------------------------------------------------

    Structure

-------------------------------------------------------*/


.brand-color {
  background: #06D6A0;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.parent-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#scroll-container {
  position: absolute;
  width: 300%;
  height: 100%;
  left: 0;
  transition:     all 250ms ease;
  -webkit-transition: all 250ms ease;
  -moz-transition:  all 250ms ease;
}

#scroll-container.people {
  left: 0;
}

#scroll-container.songs {
  left: -100%;
}

#scroll-container.player {
  left: -200%;
}


.three-column {
  width: 33.333%;
  float: left;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

#people-container, #playlist-container {
  background: #f7f7f7;
}

#list-container {
  top: 0;
  padding-top: 50px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 15px;
  margin-top: 50px;
  padding-bottom: 75px;
  height: calc(100% - 50px);
  box-sizing: border-box;
}

#fab {
  z-index: 50;
}

.fab-btn:before, .fab-btn:after {
  background: no-repeat 50% 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
  content: "";
  height: 56px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -moz-transition:  all .28s cubic-bezier(.4,0,.2,1);
  -webkit-transition: all .28s cubic-bezier(.4,0,.2,1);
  transition:     all .28s cubic-bezier(.4,0,.2,1);
  width: 56px;
}

.fab-btn {
  display: inline-block;
  position: absolute;
  outline: none;
  -webkit-user-select:  none;
  user-select:      none;
  cursor: pointer;
  z-index: 0;
  box-sizing: border-box;
  width: 56px;
  height: 56px;
  background: #06D6A0;
  color: #fff;
  border-radius: 50%;
  padding: 16px;
  bottom: 25px;
  left: 50%;
  transform:      translateX(-50%);
  -webkit-transform:  translateX(-50%);
  -moz-transform:   translateX(-50%);
  -moz-transition:  all .28s cubic-bezier(.4,0,.2,1);
  -webkit-transition: all .28s cubic-bezier(.4,0,.2,1);
  transition:     all .28s cubic-bezier(.4,0,.2,1);
}

#fab.player {
  margin-bottom: -200px;
}

/*-------------------------------------------------------

    NAV

-------------------------------------------------------*/

nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: white;
  transition:     all 250ms ease;
  -webkit-transition: all 250ms ease;
  -moz-transition:  all 250ms ease;
}

  nav ul {
    padding: 0;
    margin: 0;
    height: 50px;
    border-bottom: 2px solid rgba(0,0,0,0.08);
  }

    nav ul li {
      width: 33.333%;
      display: inline-block;
      float: left;
      text-align: center;
      padding: 20px;
      padding-bottom: 10px;
      box-sizing:     border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing:  border-box;
      cursor: pointer;
      font-weight: bold;
      font-size: 15px;
      opacity: 0.5;
      transition:     all 250ms ease;
      -webkit-transition: all 250ms ease;
      -moz-transition:  all 250ms ease;
    }

    nav.people ul li:first-child, nav.songs ul li:nth-child(2), nav.player ul li:nth-child(3){
      color: #0CBF8C;
      opacity: 1;
    }

nav.player {
  background: rgba(255,255,255,0);
  border: none;
}

nav.player ul {
  border-bottom: 2px solid rgba(0,0,0,0);
}

nav.player ul li {
  color: #fff !important;
}

#underline {
  width: 33.333%;
  height: 2px;
  background: #06D6A0;
  margin-top: -2px;
  position: absolute;
  transition:     all 250ms ease;
  -webkit-transition: all 250ms ease;
  -moz-transition:  all 250ms ease;
}

nav.people #underline {
  left: 0;
}

nav.songs #underline {
  left: 33.333%;
}

nav.player #underline {
  background: #fff;
  left: 66.666%;
  opacity: 0.2;
}

div#addSongBtn {
  position: absolute;
  top: 0;
  right: 10px;
  height: 50px;
  width: 50px;
  display: inline-block;
  background: url('../images/icons/add-song.svg');
  background-position: center;
  display: inline-block;
  background-size: 30px;
  background-repeat: no-repeat;
}

/*-------------------------------------------------------

    PLAYER

-------------------------------------------------------*/

#player-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 20;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
}

#player-container.minimized {
  top: calc(100% - 60px);
  cursor: pointer;
}

#bg-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #333;
  pointer-events:none;
  background-color: rgba(0,0,0,0.2);
  background-image: url('../images/absurdity.png');
}

.top-stripe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  z-index: 10;
}

.sc-info {
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  width: 100%;
  width: calc(100% - 60px);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  height: 50px;
  overflow: hidden;
  pointer-events: none;
  color: white;
  transition:           top 500ms ease;
  -webkit-transition:   top 500ms ease;
  -moz-transition:      top 500ms ease;
}

#player-container.minimized .sc-info {
  top: 10px;
}

  .sc-info a {
    text-decoration: none;
    color: white;
  }

  .sc-info h4 {
    font-size: 12px;
    opacity: 0.7;
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    color: rgba(0,0,0,0);
    margin-left: -10px;
  }

  .sc-info h3 {
    position: absolute;
    top: 20px;
    margin: 0;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    white-space: nowrap;
  }

  .sc-info p {
    display: none;
  }

  .sc-info-close {
    display: none;
  }

ol.sc-artwork-list {
  padding: 0;
  margin: 0;
}

ol.sc-trackslist {
  display: none;
}

ol.sc-artwork-list li {
  list-style: none;
  display: none;
}

ol.sc-artwork-list li.active {
  display: inline-block;
}


a.sc-info-toggle {
  display: none;
}

.sc-scrubber {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 5px;
  left: 0;
}

#player-container.minimized .sc-scrubber {
  height: 2px;
}

#player-container.minimized .sc-time-indicators {
  display: none;
}

.sc-time-span {
  height: 100%;
}

.sc-waveform-container {
  height: 100%;
}

.saturate {-webkit-filter: saturate(3);}
.grayscale {-webkit-filter: grayscale(100%);}
.contrast {-webkit-filter: contrast(160%);}
.brightness {-webkit-filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px);}
.invert {-webkit-filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);}
.rss.opacity {-webkit-filter: opacity(50%);}

.sc-played, .sc-buffer {
  height: 100%;
  top: 0;
  position: absolute;
}

.sc-played {
  background: #06D6A0;
  opacity: 0.8;
}

.sc-buffer {
  background: rgba(0,0,0,0.2);
}

.sc-waveform-container {
  opacity: 0;
}

span.sc-position {
  position: absolute;
  left: 30px;
  bottom: 30px;
}

span.sc-duration {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.sc-player li.active {
  padding: 0 20px;
  position: absolute;
  height: 50%;
  height: calc(100% - 280px);
  left: 0;
  width: 100%;
  box-sizing: border-box;
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
}

.sc-player li:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.sc-player li.active img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  height: 100%;
  transition:           all 500ms ease;
  -webkit-transition:   all 500ms ease;
  -moz-transition:      all 500ms ease;
}

  .sc-player li.active img.bgwidth { 
    width: 100%;
    height: auto; 
  }
  .sc-player li.active img.bgheight { 
    height: 100%; 
    width: auto;
  }

#hip-box, #hip-box-hidden {
  position: absolute;
  top: 0;
  max-width: 200px;
  min-width: 112px;
  width: 40%;
  height: 80%;
  margin-top: 100px;
  margin-bottom: 120px;
  height: calc(100% - 180px);
  left: 50%;
  transform:      translateX(-50%) translateY(-0%);
  -webkit-transform:  translateX(-50%) translateY(-0%);
  -moz-transform:   translateX(-50%) translateY(-0%);
  border: 2px solid rgba(255,255,255,0.6);
  text-align: center;
  z-index: 1;
  pointer-events: none;
  transition:           all 500ms ease;
  -webkit-transition:   all 500ms ease;
  -moz-transition:      all 500ms ease;
  overflow: hidden;
  background: url('../images/icons/play.svg');
  background-size: 0px;
  background-position: center;
  background-repeat: no-repeat;
}

#hip-box-hidden {
  opacity: 0;
}

#hip-box.stopped {
  /*border-radius: 50%;*/
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: 150px;
  width: 150px;
  margin: 0;
  border: 2px solid rgba(255,255,255,1);
  pointer-events: all;
  z-index: 9999999;
  background: url('../images/icons/play-big.svg');
  background-size: 80px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.score-lable {
  display: inline-block;
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  color: #fff;
  text-transform: uppercase;
  transition:           all 500ms ease;
  -webkit-transition:   all 500ms ease;
  -moz-transition:      all 500ms ease;
}

.score-lable.bottom {
  padding: 12px;
  box-sizing: border-box;
  letter-spacing: 5px;
  font-size: 18px;
  bottom: 0;
}

.score-lable.top {
  top: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 12px;
  letter-spacing: 5px;
}

#hip-box.stopped .score-lable.top {
  margin-top: -60px;
}

#hip-box.stopped .score-lable.bottom {
  margin-bottom: -60px;
}

.sc-controls {
  position: absolute;
  top: 0px;
  right: 0;
  margin: 25px;
  height: 30px;
  width: 30px;
  transition:           all 500ms ease;
  -webkit-transition:   all 500ms ease;
  -moz-transition:      all 500ms ease;
}

.sc-controls a.sc-play {
  display: inline-block;
  height: 30px;
  width: 30px;
  background: white;
  background: url('../images/icons/play.svg');
  background-size: 25px;
  background-position: center;
  color: rgba(0,0,0,0);
  background-repeat: no-repeat;
}

#player-container.minimized .sc-controls {
  margin: 15px;
}

.sc-player.playing .sc-controls a.sc-play {
  background: url('../images/icons/pause.svg');
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.sc-controls a.sc-pause {
  display: none;
}

.sc-time-indicators {
  color: #fff;
  opacity: 0.6;
}

.scroll-hack {
  height: 120%;
  display: inline-block;
  position: absolute;
  width: 100%;
  pointer-events: none;
  opacity: 0;
}

.number-container {
  margin-top: 150px;
  margin-bottom: 150px;
  height: calc(100% - 300px);
  position: absolute;
  overflow: hidden;
  width: 100%;
  left: 0;
  -moz-transition:  left 500ms cubic-bezier(.4,0,.2,1);
  -webkit-transition: left 500ms cubic-bezier(.4,0,.2,1);
  transition:     left 500ms cubic-bezier(.4,0,.2,1);
}

.number-container.offscreen {
  left: 100%;
}

#draggable {
  height: 100%;
  box-sizing: border-box;
  cursor: grab;
    cursor: -webkit-grab;
    display: inline-block;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

#draggable:active {
  cursor: grabbing;
    cursor: -webkit-grabbing;
}

.number-container ol {
  padding: 0;
  margin: 0;
    height: 100%;
    white-space: nowrap;
    /*display: inline-block;*/
}

.number-container li {
  list-style: none;
  display: inline-block;
  height: 100%;
  max-width: 200px;
  min-width: 112px;
  width: 40%;
  padding: 0 15px;
  opacity: 0.4;
  transition:           all 200ms ease;
  -webkit-transition:   all 200ms ease;
  -moz-transition:      all 200ms ease;
}

.number-container li.my-score {
  opacity: 1;
}

.number-container li span {
  height: 100%;
  width: 100%;
  display: inline-block;
  transform: scale(0.9);
}

.number-container li.my-score span {
  transform: scale(1);;
}

.number-container li:nth-child(2) span { background: url('../images/numbers/1.png'); }
.number-container li:nth-child(3) span { background: url('../images/numbers/2.png'); }
.number-container li:nth-child(4) span { background: url('../images/numbers/3.png'); }
.number-container li:nth-child(5) span { background: url('../images/numbers/4.png'); }
.number-container li:nth-child(6) span { background: url('../images/numbers/5.png'); }
.number-container li:nth-child(7) span { background: url('../images/numbers/6.png'); }
.number-container li:nth-child(8) span { background: url('../images/numbers/7.png'); }
.number-container li:nth-child(9) span { background: url('../images/numbers/8.png'); }
.number-container li:nth-child(10) span { background: url('../images/numbers/9.png'); }
.number-container li:nth-child(11) span { background: url('../images/numbers/10.png'); }

.number-container li:nth-child(2) span, .number-container li:nth-child(3) span, 
.number-container li:nth-child(4) span, .number-container li:nth-child(5) span,  
.number-container li:nth-child(6) span, .number-container li:nth-child(7) span, 
.number-container li:nth-child(8) span, .number-container li:nth-child(9) span, 
.number-container li:nth-child(10) span, .number-container li:nth-child(11) span {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.number-container li:first-child, .number-container li:last-child {
  display: inline-block;
  opacity: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 0px;
  max-width: 200%;
  clear: both;
  transition:           all 800ms ease;
  -webkit-transition:   all 800ms ease;
  -moz-transition:      all 800ms ease;
}

#sound-icon, #minimize-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  padding: 25px;
  cursor: pointer;
  transition:           all 500ms ease;
  -webkit-transition:   all 500ms ease;
  -moz-transition:      all 500ms ease;
}

#player-container.minimized #minimize-icon {
  padding: 15px;
}

#minimize-icon {
  left: 0;
  top: 0;
}

#minimize-icon span {
  background: url('../images/icons/minimize.svg');
  background-position: center;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: 25px;
  background-repeat: no-repeat;
}

#sound-icon span {
  background: url('../images/icons/sound-on.svg');
  background-position: center;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: 25px;
  background-repeat: no-repeat;
}


.dcs-cd-dcs-c {
  max-width: 200px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

button#shareButton {
  position: absolute;
  top: 7px;
  right: 7px;
  height: 36px;
  width: 100px;
}